<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">On The Job Experience</h4>
</div>
<%= simple_form_for @maintenance_hour, :url => maintenance_hours_path, :method => params[:method_type] do |f| -%>
  <div class="modal-body">
    <%= hidden_field_tag :id, @maintenance_hour.id if @maintenance_hour.id.present?  %>
    <%= f.hidden_field :customer_id, :label => false, :value => current_customer.id  %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          <label>Aircraft</label>
        </div>
        <div class="col-xs-8">
          <%= f.collection_select :aircraft_id, ::Refinery::Aircrafts::Aircraft.order(:name), :id , :name, {:prompt => "-- Please select Aircraft --"}, {:class=> "longdrop dropmarg", required: true} %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4 vertical-top">
          <label>Experience</label>
        </div>
        <div class="col-xs-8">
          <div class="row full-mobile">
            <div class="col-xs-12 col-md-6 vertical-top">
              <%= f.check_box :airframe, :class=>"boolean optional" %> Airframe<br>
              <%= f.check_box :avionics, :class=>"boolean optional" %> Avionics<br>
              <%= f.check_box :electrical, :class=>"boolean optional" %> Electrical<br>
              <%= f.check_box :fuel, :class=>"boolean optional" %> Fuel
            </div>
            <div class="col-xs-12 col-md-6 vertical-top">
              <%= f.check_box :interiors, :class=>"boolean optional" %> Interiors incl. Air-conditioning<br>
              <%= f.check_box :pneumatic, :class=>"boolean optional" %> Pneumatic<br>
              <%= f.check_box :power_plant, :class=>"boolean optional" %> Power Plant<br>
              <%= f.check_box :hydraulics, :class=>"boolean optional" %> Hydraulics
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          <label>Total Hours</label>
        </div>
        <div class="col-xs-8">
          <%= f.text_field :total_hours, :label => false, :placeholder => "Hours", :class => "form-control", required: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-window btn-green" data-dismiss="modal">Close</button>
    <% if @maintenance_hour.id.present? %>
      <%= f.button :submit, "Update Details", :class=>"btn btn-green" %>
    <% else %>
      <%= f.button :submit, "Create new", :class=>"btn btn-green" %>
    <% end %>
  </div>
<% end %>








