<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Flying Hours</h4>
</div>
<%= simple_form_for @flying_hour, :url => flying_hours_path, :method => params[:method_type] do |f| -%>
  <div class="modal-body">

    <%= hidden_field_tag :id, @flying_hour.id if @flying_hour.id.present?  %>
    <div class="form-group">        
      <div class="row">
        <div class="col-xs-4">
          <label>Aircraft</label>
        </div>
        <div class="col-xs-8">
          <%= f.collection_select :aircraft_id, ::Refinery::Aircrafts::Aircraft.order(:name), :id , :name, {:prompt => "-- Please select Aircraft --"}, {:class=> "longdrop dropmarg", required: true} %><br>
        </div>
      </div>
    </div>
    <!--<div class="form-group">    -->
      <!--<div class="row">-->
        <!--<div class="col-xs-4">-->
          <!--<label>Date First Flown</label>-->
        <!--</div>-->
        <!--<div class="col-xs-8">-->
          <!--<%#= f.text_field :date_first_flown, :label => false, :class => "date_pick"  %>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="form-group">    
      <div class="row">
        <div class="col-xs-4">
          <label>Date Last Flown</label>
        </div>
        <div class="col-xs-8">
          <%= f.text_field :date_last_flown, :label => false, :class => "date_pick"  %>
        </div>
      </div>
    </div>
    <div class="form-group">    
      <div class="row">
        <div class="col-xs-4">
          <label>Captain (P1)</label>
        </div>
        <div class="col-xs-8">
          <input type="text" class="p1_range" value="" name="flying_hour[ca]" />
          <%#= f.text_field :ca, :label => false, :placeholder => "Hours", :class => "form-control fc2"  %>
        </div>
      </div>
    </div>
    <div class="form-group">    
      <div class="row">
        <div class="col-xs-4">
          <label>First Officer (P2)</label>
        </div>
        <div class="col-xs-8">
          <input type="text" class="p2_range" value="" name="flying_hour[fo]" />
          <%#= f.text_field :fo, :label => false, :placeholder => "Hours", :class => "form-control fc2"  %>
        </div>
      </div>
    </div>
    <div class="form-group">    
      <div class="row">
        <div class="col-xs-4">
          <label>Cruise Only (P3/FE)</label>
        </div>
        <div class="col-xs-8">
          <input type="text" class="p3_range" value="" name="flying_hour[cruise_only_pilot]" />
          <%#= f.text_field :cruise_only_pilot, :label => false, :placeholder => "Hours", :class => "form-control fc2"  %>
        </div>
      </div>
    </div>
    <div class="form-group">    
      <div class="row">
        <div class="col-xs-4">
          <label></label>
        </div>
        <div class="col-xs-8">
          <%= f.hidden_field :customer_id, :label => false, :value => current_customer.id  %>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-window btn-green" data-dismiss="modal">Close</button>
    <% if @flying_hour.id.present? %>
      <%= f.button :submit, "Update Details", :class=>"btn btn-green" %>
    <% else %>
      <%= f.button :submit, "Create", :class=>"btn btn-green" %>
    <% end %>
  </div>
<% end %>








