<% content_for :title do %>
  Customers
<% end %>

<% content_for :content do %>
  <div class="box">
    <div class="box-body">
      <%= link_to "Export to xls", refinery.admin_customer_list_path(format: "xls"), :class=> 'btn btn-export' %>
      <table id="customers" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Profile Completion</th>
            <th>Sign Up Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each_with_index do |customer, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= customer.name %></td>
              <td><%= mail_to(customer.email) %></td>
              <td><%= customer.account_status %></td>
              <td><%= customer.complete_percentage.present? ? customer.complete_percentage : 0 %>%</td>
              <td><%= customer.created_at.strftime('%Y-%m-%d') %></td>
              <td><%= link_to('Show', admin_customer_path(customer)) %>
                -
                <%= link_to('Imitate', refinery.imitate_customer_path(:id => customer.id), :target => '_blank') %>
                -
                <%= link_to('CV', "/print_cv?customer_id=#{customer.id}", :target => '_blank') %>
                -
                <%= link_to 'PDF CV', refinery.print_pdf_cv_path(:customer_id => customer.id, format: :pdf), :target => '_blank' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<script type="text/javascript">
  $(function () {
    $("#customers").dataTable({
      "pageLength": 50,
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]] 
    });
  });
</script>


<% end %>

