<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Credit Card Details</h4>
</div>
<%= simple_form_for @credit_card, :url => credit_cards_path, :method => params[:method_type] do |f| -%>
    <%= f.hidden_field :customer_id, :label => false, :value => current_customer.id  %>
    <%= hidden_field_tag :id, @credit_card.id if @credit_card.id.present?  %>
    <%= hidden_field_tag :payment_type, params[:payment_type] if params[:payment_type].present? %>

    <div class="modal-body card-change">
      
        <div class="col-xs-12">
          <div class='card-wrapper modal-wrapper'></div>
        </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <%= f.text_field :holder, :label => false, :placeholder => "Card Holder", :class => "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <%= f.text_field :card_number, :label => false, :placeholder => "Card Number", :class => "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-4">
            <%= f.text_field :exp_month, :label => false, :placeholder => "Month", :class => "form-control", required: true %>
          </div>
          <div class="col-xs-4">
            <%= f.text_field :exp_year, :label => false, :placeholder => "Year", :class => "form-control", required: true %>
          </div>
          <div class="col-xs-4">
            <%= f.text_field :bin, :label => false, :placeholder => "CVV", :class => "form-control", required: true %>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-window btn-green" data-dismiss="modal">Close</button>
      <%= f.button :submit, "Change Credit Card", :class=>"btn btn-green" %>
    </div>

<% end %>

