<% content_for :full_mid do %>
<div class="index-sliver">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Jobs Control Panel</h3>
      </div>
    </div>
  </div>
</div>

<div class="index">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="job-index job-backend-index card">
          <div class="header">
            <h3>Your Jobs</h3>
            <a href="/jobs/new" class="add"><img src="/assets/plus.png"></a>
          </div>
          <% if @airline.jobs.present? %>
          <table>
            <tr>
              <th>
                Active
              </th>
              <th>
                Job
              </th>
              <th>
                Interested
              </th>
              <th>
                Date Created
              </th>
              <th>
                View
              </th>
              <th>
                Edit
              </th>
              <th>
                Delete
              </th>
            </tr>
            <% @airline.jobs.order('created_at DESC').each do |job| %>
              <tr>
                <td>
                  <% if job.live? %>
                    <img src="/assets/tick.png">
                  <% else %>
                    <img src="/assets/inactive.png">
                  <% end %>
                </td>
                <td>
                  <%= job.name %>
                </td>
                <td>
                  <%= link_to refinery.customers_customers_path(:job_id => job.id) do %>
                     <%= Favourite.where(:job_id => job.id).count %> Candidates
                  <% end %>
                </td>
                <td>
                  <%= job.created_at.strftime('%d-%m-%Y') %>
                </td>
                <td>
                  <a href="<%= refinery.jobs_job_path(job) %>"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></a>
                </td>
                <td>
                  <a href="/jobs/<%= job.id.to_s %>/edit"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                </td>
                <td>
                  <%= link_to '/jobs/' + job.id.to_s, :confirm => "Are you shore you want to delete: " + job.name, :method => :delete do %>
                      <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>