
<div class="col-xs-12 col-md-6 col-md-offset-3">
	<div class="log-in-body">

<%= render '/shared/flashes' -%>
<h2>Applicant Login</h2>


<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => ''}) do |f| %>
	<div class="inputs">

	  <%= f.input :email, :placeholder => '' %>
	  <%= f.input :password, :placeholder => '' %>
	</div>

  <div class="form-actions">
    <%= f.button :submit, "Sign In", :class => 'btn btn-custom btn-jetcrew' %>
    
  </div>

<% end %>

<%= render :partial => "shared/links" %>

	</div>
</div>

  
<% content_for :right do %>
  <%= render :partial => '/shared/reg_form' %>
<% end %>
