<div class="card details-card" id="certificate_tag">
  <h2>Cabin Crew Licence and Certificates Details</h2>
  <% if current_customer.present? %>
    <%= link_to load_new_form_path(type:"cabin_certification", method_type: :post), class:"edit", remote:true do %>
        <img src="/assets/edit.png">
    <% end %>
  <% end %>
  <% if @customer.cabin_certifications.present? %>
      <% @customer.cabin_certifications.each do |item| %>
          <div class="details-panel">
            <h6><%= item.license_authority %></h6>
            <% if current_customer.present? %>
              <%= link_to load_new_form_path(type:"cabin_certification", id: item.id, method_type: :put), class:"btn-edit", remote:true do %>
                  <img src="/assets/edit.png" width="10" height="10">
              <% end %>
              <%= link_to cabin_certifications_path(id:item.id),
                          :class => "btn-delete",
                          :confirm => "Are you sure you want to delete: " + item.license_authority,
                          :method => :delete do %>
                  <span aria-hidden="true" class="close">&times;</span>
              <% end %>
            <% end %>
            <table>
              <tr>
                <td>
                  Endorsements:
                </td>
                <td>
                  <% if item.first_aid %>
                      First Aid
                  <% end %>
                  <% if item.SEPT %>
                      SEPT
                  <% end %>
                  <% if item.CRM %>
                      CRM
                  <% end %>
                  <% if item.DG %>
                      DG
                  <% end %>
                  <% if item.Ditching %>
                      Ditching
                  <% end %>
                  <% if item.Fire_fighting %>
                      Fire Fighting
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
      <% end %>
  <% else %>
      <div class="blank-state">
        <img src="/assets/certificate.jpg">
        <h2>What licences or Certificates do you have?</h2>
        <%= link_to 'Add Licence and Certificates', load_new_form_path(type:"cabin_certification", method_type: :post), class:"btn btn-green btn-window btn-lrg", remote:true %>
      </div>
  <% end %>
</div>